[user]
  name = Chargify Pair
  email = pair@chargify.com
  initials = cp
[alias]
  ci = commit
  st = status
  d = diff
  co = checkout
  unstage = reset HEAD
  staged = diff --cached
  unstaged = diff
  both = diff HEAD
  wtf = !git-wtf
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  br = branch
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  quotepath = false
[branch]
  autosetuprebase = remote
[push]
  default = current
